@import url("webfonts.css");
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* box-sizing reset*/
	html {
		box-sizing: border-box;
		background: #fff;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
	}
/* ./ box-sizing reset */


html,
body {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
body {}

.center {
	margin: 0 auto;
	/*max-width: 87.4375em; 1399px */
	max-width: 75.000em; /* 1200px */
}
.full-width {
	width: 100%;
}
.clear {
	clear: both;
}
.column {
	margin-left: 1%;
	margin-right: 1%;
}
.text-center {
	text-align: center;
}
.block {}
.heading {
	line-height: 2.2rem;
	color: #DB5020;
}
.text {}
.uppercase {
	text-transform: uppercase;
}
.btn {
    border: 1px solid;
    letter-spacing: .1rem;
}
.btn:hover {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: unset;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1.1rem;
}

/* menu */
	.menu {
		list-style: none;
		display: flex;
	}
	.menu__item {}
	.menu__item a {}
	.menu__link {}
/* ./menu */

/* form */
	.form-group {}
/* ./form */

/* page */
	.page {
		color: #3f3844;
	}
/* ./page */

/* header */
	.header {}
	.page__head {
		height: 100vh;
		min-height: 550px;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		background-image: url(../images/Thanh-Dia-My-Son-2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 2rem;
	}
	.background {}
	.header__background {}
	.header__background img {
		width: 100%;
	}
	.address-bar {}
	.header__address-bar {
		background-color: #fff;
	    box-shadow: 0px 2px 2px 0px #e7e7e7;
	}
	.address-bar__container {
		display: flex;
		justify-content: space-between;
	}
	.address-bar__info {}
	.address-bar__info .menu {}
	.address-bar__info .menu .menu__item {
		padding-left: 5px;
	}
	.address-bar__info .menu .menu__item .menu__link {
		padding-right: 5px;
	}
	.address-bar__info .menu .menu__item .menu__link i {
		padding-right: 3px;
		font-size: .8em;
	}
	.address-bar__menu {}
	.address-bar__menu .menu {}
	.address-bar__menu .menu .menu__item {}
	.address-bar__menu .menu .menu__item .menu__link {
		padding-right: 7px;
		padding-left: 7px;
	}
	.address-bar__container,
	.address-bar__info .menu .menu__item .menu__link,
	.address-bar__menu .menu .menu__item .menu__link {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header-main {}
	.header__main {}
	.header-main__container {}
	.logo {}
	.header-main__logo {
		padding: 10px;
	}
	.header-main__logo img {}
	#navigation {}
	.header-main__nav {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #fff;
		box-shadow: 0px 2px 2px 0px #e7e7e7;
	}
	.navigation {}
	.navigation .menu {
		justify-content: center;
	}
	.navigation .menu .menu__item {}
	.navigation .menu .menu__item:not(:last-of-type):after {
		content: " |";
		color: #dbdbdb;
	}
	.navigation .menu .menu__item a {}
	.navigation .menu .menu__link {
		font-size: 1.1rem;
		font-weight: 600;
	    padding: 10px 15px;
	    text-transform: uppercase;
	    letter-spacing: .5px;
	}
	.navigation .menu .menu__link.menu__link--active {
		color: #d63700;
	}
/* ./header */

/* main */
	.main {}
	.page__main {
		box-shadow: 0 -5px 10px 10px #fff;
	}
	.page__main .heading {
		padding-bottom: 1rem;
	}
	.main__container {
		padding: 3rem 0 0;
	}
	.main__content__containter {}
	.main__content__head {}
	.main__content__body {}
	.main__content__body__container {
		margin: 0;
	}
	.main__content__body__container .main__content__right:last-of-type {
		margin-top: 1.4%;
	}
	.main__content__left {
		float: left;
		width: 66.6%;
		position: relative;
	}
	.main__content__left__img {
		line-height: 0;
		position: relative;
	}
	.main__content__left__img img {
		max-width: 100%;
		height: auto;
	}
	.main__content__left__text {}
	.main__content__left__text h4 {
		padding: 4rem 2rem 1.2rem;
	}
	.main__content__right {
		float: right;
		width: 32%;
		position: relative;
	}
	.main__content__right__above {}
	.main__content__right__below {}
	.main__content__right__img {
		line-height: 0;
		position: relative;
	}
	.main__content__right__img img {
		max-width: 100%;
		height: auto;
	}
	.main__content__right__text {}
	.main__content__right__text h5 {
		padding: 2.9rem 2rem 1.1rem;
	}
	.main__content__left,
	.main__content__right {
		display: block;
		overflow: hidden;
	}
	.main__content__left__text,
	.main__content__right__text {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -.1rem;
	}
	.main__content__left__text h4,
	.main__content__right__text h5 {
		background: url(../images/blog_masonry_tile_gradient.png) top left repeat-x;
	}
	.main__content__left__text h4 a,
	.main__content__right__text h5 a {
		letter-spacing: .1rem;
	    color: #fdf6f4;
	    font-weight: 400;
	}
	.main__content__bot {}
	.main__content--seemore {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.main__content--seemore .btn {
		padding: 6px 20px;
		border-color:  #E58260;
	}
	.main__content--seemore .btn:hover {
	    color: #fff;
	    background-color: #E58260;
	    border: none;
	}
	.main__content--one {
		display: flex;
		flex-direction: column;
	}
	.main__content--two {}
	.main__content--two .main__content__body__container {
		display: flex;
		justify-content: space-between;
	}
	.main__content__package {
		position: relative;
		width: 30%;
		/*background-color: #eeea;*/
	}
	.package__container {
		display: flex;
		flex-direction: column;
	}
	.package__photo {
		padding: 15px;
	}
	.package__photo img {
		width: 100%;
		max-width: 300px;
		height: auto;
	}
	.package__photo--rotate-l {
		transform: rotate(-2deg);
	}
	.package__photo--rotate-r {
		transform: rotate(2deg);
	}
	.package__photo div {
		position: absolute;
	    width: 100%;
	    left: 0;
	    top: 40%;
	}
	.package__photo a {
	    color: #fff;
	    padding: 10px 15px;
	    font-size: 1.1rem;
	    background-color: rgb(238,238,238,.2);
	}
	.package__photo a:hover {
		color: #fff;
	    background-color: #E58260;
	}
	.package__desc h5 {
		font-weight: 500;
		padding-left: .5rem;
		padding-right: .5rem;
	}
	.main__content--three {}
	.main__content--three .main__content__body img.bg {
		width: 100%;
	}
	.main__content--three .main__content__body--bg {
		position: relative;
	}
	.main__content--three .main__content__body .main__content__body__container {
		position: relative;
	}
	.main__content--three .review {
		position: absolute;
	}
	.review__guest {
		padding: 2rem;
	}
	.main__content--one,
	.main__content--two,
	.main__content--three {
		margin-bottom: 2rem;
	}
/* ./main */

/* footer */
	.footer {}
	.page__foot {
		margin-top: 3rem;
	}
	.newsletter {}
	.footer__newsletter {
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}
	.newsletter__container {}
	.newsletter__header {}
	.newsletter__main {}
	.newsletter__form {
		display: flex;
		flex-direction: column;
	}
	.newsletter__form button {
		background-color: #E58260;
	    color: #fff;
	    border: none;
	    cursor: pointer;
	    letter-spacing: .2rem;
	    font-size: 1.1rem;
	}
	.newsletter__form input {
		padding-right: .8rem;
		padding-left: .8rem;
		border: .05rem solid #dbdbdb;
	}
	.newsletter__main p,
	.newsletter__form input,
	.newsletter__form button {
		line-height: 2rem;
		font-family: 'Barlow Condensed', sans-serif;
	}
	.newsletter__form input:last-of-type,
	.newsletter__form button {
		margin-top: .2rem;
	}
	.follow {}
	.footer__follow {
		margin-bottom: 2rem;
	}
	.follow__container {}
	.follow__header {}
	.follow__main {}
	.follow__main .menu {
		justify-content: space-around;
	}
	.follow__main .menu .menu__item {}
	.follow__main .menu .menu__item a {}
	.follow__main .menu .menu__item .menu__link {
		padding: 5px;
	}
	.follow__main .menu .menu__item .menu__link i {
		padding-right: 5px
	}
	.copyright {}
	.footer__copyright {
		font-size: .9rem;
	    letter-spacing: .1rem;
	    margin-bottom: 2rem;
	    border-top: 1px solid #eee;
	    padding-top: 1rem;
	}
	.copyright--name {}
	.copyright--year {}
	.copyright--name,
	.copyright--year {
		line-height: 2rem;
	}
/* ./footer */

.address-bar__info .menu .menu__item:hover .menu__link,
.address-bar__info .menu .menu__item:hover .fab,
.address-bar__menu .menu .menu__item .menu__link:hover,
.navigation .menu .menu__link:not(.menu__link--active):hover,
.follow__main .menu .menu__item .menu__link:hover {
	color: #E06940;
}
